@model Adressbok.Models.Adressboken
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@{ 
    var options = new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "result"
    };
}
@using (@Ajax.BeginForm("Edit", "Adress", options))   
{
    @Html.TextBoxFor(x => x.Namn)<br />
    @Html.TextBoxFor(x => x.Adress)<br />
    @Html.TextBoxFor(x => x.Tidpunkt)
    <input type="submit" value="Spara" />
}

<div id="result">
    <br /><br /><br />
    @{Html.RenderAction("ListOfAdresses");}
</div>